<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashy Cards</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li>Flashy Cards</li>
            <li><a href="#">Languages</a></li>
            <li><a href="#">Card Decks</a></li>
            <li><a href="#">New Deck</a></li>
            <li><a href="#">New Card</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>