{% extends "base.html.jinja2" %}
{% macro verb() -%}
    {%- if remove %}remove{% else %}add{% endif %}
{%- endmacro %}

{% block page_body %}
<div>
    <h1>{% if remove %}Remove Cards from {% else %}Add Cards to {% endif %}Deck</h1>
    <h2>Deck: {{ deck_name }}</h2>
</div>
<div>
<ul>
    {%- for card in cards %}
    <li>
        <div id="cardContainer{{ card.id }}">
            <h3>{{ card.target_word }}</h3>
            <b>Part of Speech:</b> {{ card.part_of_speech }}<br>
            <b>Translation:</b> {{ card.translation }}<br>
            <form
                    id="cardForm{{ card.id }}"
                    method="post"
                    action="/decks/{{ deck_id }}/{{ verb() }}-card">
                <div>
                    <input type="hidden" id="cardIdInput{{ card.id }}" name="card_id" value="{{ card.id }}">
                    <input
                            id="{{ verb() }}-card-{{ card.id }}"
                            name="{{ verb() }}-card-{{ card.id }}"
                            type="submit"
                            value="{{ verb()|capitalize }} Card"
                            form="cardForm{{ card.id }}">
                </div>
            </form>
        </div>
    </li>
    {% endfor -%}
</ul>
</div>
<div>
    <a href="/decks/{{ language_slug }}/list"><h3>Done</h3></a>
</div>
{% endblock %}
