{% extends "base.html.jinja2" %}
{% block page_body %}
<div class="container-fluid">
    <div class="container-md">
        <h1>
            {% if card is defined %}Edit{% else %}Create{% endif %} Flash Card
        </h1>
    </div>
    <form id="addOrEditCard" action="/cards/{% if card is defined %}{{ card.id }}/edit{% else %}add{% endif %}" method="post">
        <div class="container-md">
            <label for="word" class="form-label">Target Word:</label>
            <input  class="form-control"
                    type="text"
                    id="word"
                    name="word" value="{% if card is defined %}{{ card.word }}{% endif %}">
        </div>
        <div class="container-md">
            <label for="translation" class="form-label">Translation:</label>
            <input  class="form-control"
                    type="text"
                    id="translation"
                    name="translation" value="{% if card is defined %}{{ card.translation }}{% endif %}">
        </div>
        <div class="container-md">
            <label for="part_of_speech" class="form-label">Part of Speech</label>
            <select class="form-select" id="part_of_speech" name="part_of_speech">
                {% for option in parts_of_speech -%}
                <option value="{{ option }}" {% if card is defined and option == card.part_of_speech -%}
                            selected="selected"
                        {%- endif %}>{{ option }}</option>
                {%- endfor %}
            </select>
        </div>
        <div class="container-md">
            <label for="sentence" class="form-label">Example Sentence</label>
            <textarea class="form-control" id="sentence" name="sentence" rows="3">{% if card is defined -%}
                {{ card.sentence }}
            {%- endif %}</textarea>
        </div>
        <div class="container-md">
            {%- if language_id is none %}
            <label for="language_id" class="form-label">Language</label>
            <select class="form-select" id="language_id" name="language_id">
                {% for lang in languages -%}
                <option value="{{ lang.id }}">{{ lang.name }}</option>
                {%- endfor %}
            </select>
            {% else %}
            <input type="hidden" name="language_id" value="{{ language_id }}">
            {% endif -%}
        </div>
        {% if card is defined -%}
            <input id="card_id" name="card_id" value="{{ card.id }}" type="hidden">
        {%- endif %}
        <br>
        <div class="container-md">
             <input class="btn btn-primary" type="submit" form="addOrEditCard" value="{% if card is defined %}Edit{% else %}Create{% endif %}">
        </div>
    </form>
</div>
{% endblock %}
