{% extends "base.html.jinja2" %}
{% if language is defined -%}
    {% block navbar_links %}
        {{- super() }}
        <li class="nav-item">
            <a class="nav-link" href="/decks/{{ language.slug }}/list">
                {{ language.name }} Card Decks
            </a>
        </li>
    {% endblock navbar_links %}
{%- endif %}
{% block page_body %}
<div class="container-md">
<h1>{{ list_title }}</h1>
{%- for card in cards %}
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">{{ card.word }}</h2>
        </div>
        <div class="card-body">
            <b>{{ card.word }} ({{ card.part_of_speech }}):</b> {{ card.translation }}<br>
            {% if card.sentence is not none -%}
            <b>Example:</b> {{ card.sentence }}<br>
            {%- endif %}
            <a class="btn btn-outline-secondary" href="/cards/{{ card.id }}/edit">Edit Card</a>
        </div>
    </div>
{%- endfor %}
</div>
<div class="container-md">
    <a class="btn btn-outline-primary" href="/cards/add{% if language is defined %}?language_id={{ language.id }}{% endif %}">
        Add New Card
    </a>
</div>
{% endblock %}
