{% extends "base.html.jinja2" %}
{% block page_body %}
<div>
<h1>Add New Language to List</h1>
<form id="addLanguage" action="/languages/add" method="post">
    <div>
        <label for="lang_name">Language Name:</label>
        <input type="text" id="lang_name" name="lang_name">
    </div>
    <div>
        <label for="lang_notes">Personal Notes on the Language:</label>
        <textarea id="lang_notes" name="lang_notes" rows="4"></textarea>
    </div>
    <input type="submit" form="addLanguage" value="Add Language">
</form>
</div>
{% endblock %}
