{% extends "base.html.jinja2" %}
{% block page_body %}
<div class="container-md">
    <h1>Available Languages</h1>
</div>
<div class="container-md">
{% for language in languages %}
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">{{ language.name }}</h2>
            {% if language.notes is not none %}
                {{ language.notes }}
            {%- endif %}
        </div>
        <div class="card-body">
            <h3 class="card-subtitle">Links</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="btn btn-outline-secondary" href="/decks/{{ language.slug }}/list">
                        {{ language.name }} Flash Card Decks
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-outline-secondary" href="/cards/{{ language.slug }}/list">
                        All {{ language.name }} Cards
                    </a>
                </li>
            </ul>
        </div>
    </div>
{%- endfor %}
<div class="card">
    <p class="card-body">
        <a class="btn btn-outline-primary" href="/languages/add">Add New Language</a>
    </p>
</div>
</div>
{% endblock %}
