{% extends "base.html.jinja2" %}
{% block page_body %}
<div class="container-md">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Add New Language</h1>
        </div>
    </div>
    <div class="card">
        <form id="addLanguage" action="/languages/add" method="post">
            <div class="card-body">
                <label class="form-label" for="lang_name">Language Name:</label>
                <input class="form-control" type="text" id="lang_name" name="lang_name">
            </div>
            <div class="card-body">
                <label class="form-label" for="lang_notes">Personal Notes on the Language:</label>
                <textarea class="form-control" id="lang_notes" name="lang_notes" rows="4"></textarea>
            </div>
            <div class="card-body">
                <input class="btn btn-primary" type="submit" form="addLanguage" value="Add Language">
            </div>
        </form>
    </div>
</div>
{% endblock %}
