{% extends "base.html.jinja2" %}
{% block page_body %}
<div>
    <h1>Available Languages</h1>
</div>
<div>
{% for language in languages %}
    <div>
    <h2>{{ language.name }}</h2>
    {% if language.notes is not none %}
        {{ language.notes }}
    {%- endif %}
    <h3>Links</h3>
    <ul>
        <li><a href="/decks/{{ language.slug }}/list">{{ language.name }} Flash Card Decks</a></li>
        <li><a href="/cards/{{ language.slug }}/list">All {{ language.name }} Cards</a></li>
    </ul>
    </div>
{%- endfor %}
<a href="/languages/add">Add New Language</a>
</div>
{% endblock %}
