{% extends "base.html.jinja2" %}
{% if language is defined -%}
    {% block navbar_links %}
        {{- super() }}
        <li class="nav-item">
            <a class="nav-link" href="/cards/{{ language.slug }}/list">
                {{ language.name }} Cards
            </a>
        </li>
    {% endblock navbar_links %}
{%- endif %}
{% block page_body %}
<div class="container-md">
<h1>Card Decks</h1>
{%- for deck in decks %}
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">{{ deck.name }}</h2>
        </div>
        <div class="card-body">
            <b>Context:</b> {{ deck.context }}<br>
            <b>Total Cards:</b> {{ deck.total_cards }}<br>
            <div class="row">
                <div class="col">
                    <a class="btn btn-outline-secondary" href="/decks/{{ deck.id }}/detail">
                        View Detail
                    </a>
                </div>
                <div class="col">
                    <a class="btn btn-outline-secondary" href="/decks/{{ deck.id }}/edit">
                        Edit Deck
                    </a>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{%- endfor %}
</div>
<div class="container-md">
    <a class="btn btn-outline-primary" href="/decks/add{% if language is defined %}?language_id={{ language.id }}{% endif %}">
        Add New Deck
    </a>
</div>
{% endblock %}
