{% macro pagination(link, page=1, total_pages=1) -%}
<div class="container-md">
    <nav class="navbar-expand-lg">
        <ul class="navbar-nave">
            <li class="navbar-item">
                <a class="navbar-link" href="{{ link }}?page=1">First</a>
            </li>
            {%- if page > 1 %}
            <li class="navbar-item">
                <a class="navbar-link" href="{{ link }}?page={{ page - 1 }}">Previous</a>
            </li>
            {% endif -%}
            {%- if page < total_pages %}
            <li class="navbar-item">
                <a class="navbar-link" href="{{ link }}?page={{ page + 1 }}">Next</a>
            </li>
            {% endif -%}
            <li class="navbar-item">
                <a class="navbar-link" href="{{ link }}?page={{ total_pages }}">Last</a>
            </li>
        </ul>
    </nav>
</div>
{%- endmacro %}
