{% extends "base.html.jinja2" %}
{% block page_body %}
<div class="container-md">
<h1>Flash Cards App</h1>
    <p>
        This is a flash card app for language practice! You can use it to make flash card decks and use
        them to study several languages.
    </p>
</div>
{% endblock page_body %}
