{% extends "base.html.jinja2" %}
{% macro study_mode() %}
    {%- if to_target %}to-target{% else %}from-target{% endif -%}
{% endmacro %}
{% macro study_mode_display() %}
    {%- if to_target %}To Target Language{% else %}From Target Language{% endif -%}
{% endmacro %}

{% block page_body %}
<div class="container-md" id="titleSection">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Flash Cards Study</h1>
            <h3 class="card-subtitle">Study Mode: {{ study_mode_display() }}</h3>
            <h3 class="card-subtitle">{{ deck.name }}</h3>
        </div>
    </div>
</div>
<div class="container-md" id="cardDetail">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                {%- if to_target %}{{ card.translation }}{% else %}{{ card.target_word }}{% endif -%}
            </h2>
            <h4 class="card-subtitle">Card {{ idx }} of {{ total_cards }}</h4>
            <b>Part of Speech:</b> {{ card.part_of_speech }}<br>
            {% if card.grammar_info is not none -%}
            <b>Grammatical Detail:</b> {{ card.grammar_info }}<br>
            {%- endif %}
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="actionsSection">
            <h3 class="card-title">Additional</h3>
            {%- if (example or show_all) and (not to_target) %}
            <b>Example Sentence:</b> {{ card.sentence }}<br>
            {%- else %}
            <a href="/study/{{ deck.id }}/{{ study_mode() }}?idx={{ idx }}&seed={{ rnd_seed }}&show_example=true">
                Show Example Sentence<br>
            </a>
            {% endif -%}
            {%- if show_all %}
                <b>Answer:</b> {% if to_target %}{{ card.target_word }}{% else %}{{ card.translation }}{% endif %}<br>
            {%- else %}
                <a href="/study/{{ deck.id }}/{{ study_mode() }}?idx={{ idx }}&seed={{ rnd_seed }}&show_answer=true">
                    Show Answer
                </a>
            {% endif -%}
        </div>
    </div>
</div>
<div class="container-md" id="linksSection">
    <nav class="navbar navbar-expand-lg" id="pageLinks">
        <ul class="navbar-nav">
            {%- if idx > 1 %}
            <li class="nav-item">
                <a class="nav-link" href="/study/{{ deck.id }}/{{ study_mode() }}?idx={{ idx - 1 }}&seed={{ rnd_seed }}">
                    Previous
                </a>
            </li>
            {% endif -%}
            {%- if idx < total_cards %}
            <li class="nav-item">
                <a class="nav-link" href="/study/{{ deck.id }}/{{ study_mode() }}?idx={{ idx + 1 }}&seed={{ rnd_seed }}">
                    Next
                </a>
            </li>
            {% endif -%}
            <li class="nav-item">
                <a class="nav-link" href="/decks/{{ deck.id }}/detail">
                    Back to Deck Details
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
